.myrows{
    border: 3px solid green;
    padding: 5px;
  }
  .mycols{
    border: 3px solid red;
  }
  .mycontainer{
    background-color: aqua;
  }
  .container-fluid{
    padding-left: 0;
    padding-right: 0;
  }
  nav ul li a {
      font-size: 1.1rem;
      font-weight: 600;
  }