.myrows{
  border: 3px solid green;
  padding: 5px;
}
.mycols{
  border: 3px solid red;
}
.mycontainer{
  background-color: aqua;
}
.container-fluid{
  padding-left: 0;
  padding-right: 0;
}
nav ul li a {
	font-size: 1.1rem;
	font-weight: 600;
}

#carouselExampleIndicators {
  margin: auto;
}
#hoshino{
  width: 100%;
}
#go{
  margin-left: 25%;
}
.carousel-control-prev{
  margin-left: 19%;
}

.carousel-control-next{
  margin-right: 19%;
}
#stfu{
  width: 30%;
}
#akot{
  margin-right: 43%;
  padding-top: 5%;
}
#mikuyey{
  width: 30%;
}
#miku{
  margin-left: 45%;
  padding-top: 5%;
}
#no{
  float: right;
  margin-top: 1.37%;
}
#as{
  float:left;
  margin-top: 7%;
}
footer{
  color: #004d80;;
}
#help a{
  color: #2c3e50;
  font-weight: 600;
  font-size: 0.89rem;
}
#help{
  border-bottom: 1px solid #ebebeb;
  position: relative;
}
